name: Release

on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - main

permissions:
  contents: read

jobs:
  packages:
    permissions:
      artifact-metadata: write
      attestations: write
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - run: pip install build==1.2.1

      - run: python -m build

      - name: generate build provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ github.workspace }}/dist/*"

      - name: Upload Packages
        uses: actions/upload-artifact@v6
        with:
          name: packages
          path: |
            dist/*.whl
            dist/*tar.gz

  publish-pypi:
    needs:
      - packages
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: packages
          path: dist

      - name: Upload pypi.org
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: https://upload.pypi.org/legacy/

  publish-docker:
    needs:
      - packages
    runs-on: ubuntu-latest
    permissions:
      artifact-metadata: write
      attestations: write
      contents: write
      id-token: write
    env:
      DOCKER_IMAGE_NAME: docker.elastic.co/observability/elastic-otel-python
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          # NOTE: disable the cache poisoning vector attack
          cache-binary: false

      - name: Log in to the Elastic Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ secrets.ELASTIC_DOCKER_REGISTRY }}
          username: ${{ secrets.ELASTIC_DOCKER_USERNAME }}
          password: ${{ secrets.ELASTIC_DOCKER_PASSWORD }}

      - uses: actions/download-artifact@v7
        with:
          name: packages
          path: dist

      - name: Extract metadata (tags, labels)
        id: docker-meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051  # v5.10.0
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            # "edge" Docker tag on git push to default branch
            type=edge
          labels: |
            org.opencontainers.image.vendor=Elastic
            org.opencontainers.image.title=elastic-otel-python
            org.opencontainers.image.description=Elastic Distribution of OpenTelemetry Python

      - name: Build and push image
        id: docker-push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8  # v6.19.2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          file: operator/Dockerfile
          tags: ${{ steps.docker-meta.outputs.tags }}
          labels: ${{ steps.docker-meta.outputs.labels }}
          build-args: |
            DISTRO_DIR=./dist/

      - name: generate build provenance (containers)
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: "${{ env.DOCKER_IMAGE_NAME }}"
          subject-digest: ${{ steps.docker-push.outputs.digest }}
          push-to-registry: true
